.signup
  label
    margin-top: 5px
    font-size: 20px
    font-family: 'Roboto', sans-serif

.signup-container
  h3, p
    font-family: 'Roboto', sans-serif

  button
    margin-top: 20px
    margin-bottom: 15px
    background-color: darken(#51c3a5, 5%)
    font-size: 18px
    color: white
    font-family: 'Roboto', 'sans-serif'
    border-radius: 5px

@media (max-width: 731px)
  .signup-container
    margin-top: 10px
    
    h3
      font-size: 25px

    p
      font-size: 14px

    button
      font-size: 15px

  .signup
    label
      font-size: 15px
