.movie-wrapper
  margin-top: 60px

.container-movie
  display: flex
  flex-direction: row

  a
    color: black
    font-family: 'Roboto', sans-serif

    &:hover
      color: black
      text-decoration: none

.pagination
  margin-top: 30px
  display: flex
  justify-content: center
  margin-bottom: 40px
  padding: 5px

.pageStyles
  padding: 10px

.active
  color: #51c3a5

.page-link-style
  font-size: 17px
  padding: 10px
  font-family: 'Roboto', sans-serif
  color: darken(#ccc, 15%)
  &:hover
    text-decoration: none
    color: #51c3a5
    cursor: pointer
    border: 1px solid #51c3a5

.next, .prev, .break-me
  padding: 10px
  &:hover
    text-decoration: none

.break-me
  a
    color: darken(#ccc, 15%)
    font-size: 17px
    padding: 10px
    font-family: 'Roboto', sans-serif
    &:hover
      text-decoration: none
      color: #51c3a5
      cursor: pointer
      border: 1px solid #51c3a5



.prev-link, .next-link
  color: #51c3a5
  font-size: 15px
  &:hover
    text-decoration: none
    color: #51c3a5
    cursor: pointer


  padding: 10px
