.list-display
  display: flex
  flex-direction: column

  .list-item
    display: flex
    padding: 10px
    align-items: center
    position: relative

  h3
    font-size: 20px
    margin-left: 30px


  .overview
    color: darken(#ccc, 15%)
    font-size: 12px
    line-height: 22px
    width: 70%
    margin-left: 30px

  .vote
    font-size: 30px
    position: absolute
    right: 13%


  .red_vote
    color: red

  .yellow_vote
    color: lighten(orange, 10%)

  .green_vote
    color: lighten(green, 10%)

  img
    width: 120px

@mixin media-styles($imgWidth, $paragrMargin)
  .list-display

    .list-item
      display: flex
      padding: 3px
      flex-direction: column

      img
        width: $imgWidth

      h3, p
        position: relative
        left: 10px
        margin-top: $paragrMargin

      p
        font-size: 10px

      .vote
        font-size: 20px
        left: 0

@media (max-width: 900px)
  .list-display
    .list-item
      h3
        font-size: 12px

      p
        font-size: 10px

      .vote
        font-size: 15px
        left: -15px      

@media (max-width: 600px)
  @include media-styles(200px, 10px)

@media (max-width: 400px)
  @include media-styles(200px, 10px)

@media (max-width: 500px)
  @include media-styles(200px, 10px)
