.character-img
  height: 150px

.character-list
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  h5
    font-size: 14px
    margin-top: 5px
    color: darken(#ccc, 25%)
    height: 30px

  p
    font-size: 12px
    margin: 0
    color: #51c3a5

@media (max-width: 800px)
  .character-img
    height: 90px

  .character-list
    h5
      font-size: 10px

    p
      font-size: 10px

@media (max-width: 500px)
  .character-img
    height: 90px

  .character-list
    h5
      font-size: 10px

    p
      font-size: 10px

@media (max-width: 400px)
  .character-img
    height: 70px

  .character-list
    h5
      font-size: 9px

    p
      font-size: 9px
